.active {
    background-color: gold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;

}
.container li {
    margin-inline: 0.3rem;

}
.container li a{
    color: green ;
    font-size: 1.2rem
}
.disabled  a{
color:  rgba(0, 128, 0, 0.252) !important;
}

.disabled a:hover
{
    color: rgba(0, 128, 0, 0.252);
     cursor: not-allowed;
}